<ng-template #stepTemplateRoot
             let-item>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Example</mat-label>
      <textarea matInput
                id="example"
                [formControl]="item"></textarea>
      <mat-hint>Example</mat-hint>
    </mat-form-field>
  </p>
</ng-template>

<mat-stepper>
  <mat-step>
    <ng-template matStepLabel>Step 1</ng-template>
    <h2>template is declared here</h2>
    <ng-template #stepTemplateA
                 let-item>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Example</mat-label>
          <textarea matInput
                    id="example"
                    [formControl]="item"></textarea>
          <mat-hint>Example</mat-hint>
        </mat-form-field>
      </p>
    </ng-template>

    <button matStepperNext
            type="button">Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Step 2</ng-template>
    <h2>mat-stepper marks mat-form-field inside of the template as invalid</h2>
  </mat-step>
</mat-stepper>

<h2>Template outside of mat-stepper</h2>
<!-- <ng-container *ngTemplateOutlet="stepTemplateA;  context: {$implicit: item}"></ng-container> -->
<div *ngTemplateOutlet="stepTemplateRoot;  context: {$implicit: item}"></div>

<h2>Template inside of mat-stepper</h2>
<!-- <ng-container *ngTemplateOutlet="stepTemplateA;  context: {$implicit: item}"></ng-container> -->
<div *ngTemplateOutlet="stepTemplateA;  context: {$implicit: item}"></div>
