<h3>Root template is declared here, before mat-stepper</h3>
<ng-template #stepTemplateRoot
             let-item>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Example</mat-label>
      <textarea matInput
                id="example"
                [formControl]="item"></textarea>
      <mat-hint>Example</mat-hint>
    </mat-form-field>
  </p>
</ng-template>

<mat-stepper>
  <mat-step>
    <ng-template matStepLabel>Step 1</ng-template>
    <h2>Step template is declared</h2>
    <ng-template #stepTemplate
                 let-item>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Example</mat-label>
          <textarea matInput
                    id="example"
                    [formControl]="item"></textarea>
          <mat-hint>Example</mat-hint>
        </mat-form-field>
      </p>
    </ng-template>

    <button matStepperNext
            type="button">Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Step 2</ng-template>
    <h2>mat-stepper marks mat-form-field inside of the template as invalid. As a result, all `ngTemplateOutlet` are also highlighted</h2>
  </mat-step>
</mat-stepper>

<h2>Uses Root template declared outside of mat-stepper</h2>
<div *ngTemplateOutlet="stepTemplateRoot;  context: {$implicit: item}"></div>

<h2>Template Step template declared inside of mat-stepper>mat-step</h2>
<div *ngTemplateOutlet="stepTemplate;  context: {$implicit: item}"></div>
